* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body {
    background-color: #f3f1ff;
    font-family: 'Poppins', sans-serif;
}

/* Header section */
.header {
    background-color: #562EFF;
    display: flex;
    justify-content: center;
    gap: 450px;
    padding: 20px;
}

.nav-img {
    width: 40.42px;
    height: 51px;
}

.left-nav {
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
}

.right-nav {
    color: white;
    display: flex;
    align-items: center;
    gap: 35px;
}

/* Players */
main {
 
    display: flex;
    align-items: center;
    flex-direction: column;
}

main h2 {
    padding-bottom: 40px;
    color: #562EFF;
    font-weight: 500;

}
.container{
    background: #FFFFFF;
    border-radius: 5px;
    width: 870px;
    padding: 30px;
}
.top{
    padding-left: 30px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.top-players {
    padding-bottom: 30px;
}

.top-players img {
    width: 56px;
    height: 56px;

}

.profile {
    display: flex;
    align-items: center;
}

.top-players h3 {
    font-weight: 500;
    font-size: 18px;
    padding-left: 15px;
}

hr {
    color: #D1D1D1;
    width: 807px;
}

.blogs {
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-row-gap: 30px;
grid-column-gap: 20px;
    
}

.blogs h2 {
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
    padding: 30px;
}
.blogs img{
    width: 177px;
height: 117px;
}
.blog{
    display: flex;
    gap: 30px;
}
.blogs h3{
    font-weight: 500;
font-size: 20px;
}
.blog div{
    
    align-items: flex-start;
}